---
layout: enciclopedia
title: Redes
type: categoria
---

<div class='container'>
	<p>Redes de computadores, suas comunicações e seus protocolos.</p>
</div>
<h4 class='subtitle'>Técnicas/Termos:</h4>
<div class='container'>
	<ul>
		<li>OSI</li>
		<li>TCP/IP</li>
	</ul>
</div>
<h4 class='subtitle'>Ferramentas:</h4>
<div class='container'>
	<ul>
		<li><a href='nmap'>nmap</a></li>
		<li><a href='hydra'>hydra</a></li>
		<li>masscan</li>
		<li>tcpflow</li>
		<li>wireshark/tshark</li>
		<li>ssh</li>
		<li>ftp</li>
	</ul>
</div>

