---
layout: enciclopedia
title: Ataque de Dicionário
type: técnica
---

<h4 class='subtitle' id='descricao'>Descrição:</h4>
<div class='container'>
	<p>Ataques de dicionário tem como objetivo descobrir a combinação certa de valores dentro de um universo limitado de possibilidades.</p>
	<p>Ele utilizam uma <a href='/wlist'>wordlist</a> -- uma lista das opções mais prováveis para a combinação que você está tentando descobrir -- para tentar diminuir o número de tentativas e, com isso, o tempo que leva para descobrir a combinação certa seja ela a senha para o usuário <code>admin</code> ou um subdiretório secreto em um site.</p>
	<p>Subcategorias:</p>
	<p><a>Ataque de combinação</a></p>
	<p>Concatena cada palavra de um ou dois dicionarios e usa elas para fazer o ataque.</p>
	<p>Exemplo:<p>
	<p>Lista 1: abacate, pêra e maçã</p>
	<p>Lista 2: uva e melão</p>
	<p>Lista Resultante: abacateuva, abacatemelão, pêrauva, pêramelão, maçãuva e maçãmelão</p>
</div>
<h4 class='subtitle' id='ferramentas'>Ferramentas que utilizam ataque de dicionário:</h4>
<div class='container'>
	<ul>
		<li>
			<a href='/hydra'>hydra</a>
		</li>
		<li>
			<a href='/gobuster'>gobuster</a>
		</li>
	</ul>
</div>
<h4 class='subtitle' id='vertambem'>Ver também:</h4>
<div class='container'>
	<ul>
		<li>
			<a href='/fbruta'>Ataque de força bruta</a>
		</li>
	</ul>
</div>

