---
layout: enciclopedia
title: Teorema de Euclides
type: categoria
---

<h4 class='subtitle' id='descricao'>Descrição:</h4>
<div class='container'>
	<p>"Existe uma quantidade infinita de números primos."</p>
  <p>Prova por absurdo:</p>
  <p>Suponhamos que os números primos sejam finitos. Então existe um número hipotético X cuja decomposição em factores primos é a multiplicação de todos os primos existentes (P' * P" * P"' * ...). Sendo assim o número seguinte X+1 não possui na sua factorização nenhum dos primos citados na decomposição em factores do seu antecessor X. Logo X+1 é outro primo ou múltiplo de um primo que não está na lista de primos.</p>
<p><a href='https://pt.wikipedia.org/wiki/Teoria_dos_n%C3%BAmeros#Teorema_de_Euclides' target='_blank'>AQUI&#x2197;</a></p>
</div>
