---
layout: default
---

<div class='container'>
	<h2><a href=''>Sobre</a></h2>
</div>
<div class='container'>
	<p>Somos o <a href='/'>EACH in The Shell</a>, um grupo criado por alunos de Sistemas de Informação da USP para o estudo de segurança da informação.</p>
	<p>Nossa missão é democratizar o acesso ao conteúdo de hacking e conscientizar usuários leigos sobre como se proteger no ambiente digital.</p>
	<p>Redes sociais:</p>
	<p><a href='https://discord.gg/FnkgJUrUan' target='_blank'>Dicord&#x2197;</a></p>
	<p><a href='https://www.linkedin.com/company/intheshell/' target='_blank'>Linkedin&#x2197;</a></p>
	<p><a href='https://www.instagram.com/eachintheshell/' target='_blank'>Instagram&#x2197;</a></p>
</div>
<div class='subtitle'>
	<h3>A composição</h3>
</div>
<div class='container'>
	<h4>Docente responsável</h4>
	<ul>
		<ul>
			<li><a href=''>Marcio Moretto</a></li>
		</ul>
	</ul>
	<h4>Integrantes</h4>
	<ul>
		<ul>
			<li>
				<a href=''>Júlia Passos</a><!-- powerslave -->
			</li>
			<li>
				<a href=''>João Fukuda</a><!-- mayfly -->
			</li>
			<li>
				<a href=''>Larissa Maruyama</a><!-- uxie -->
			</li>
			<li>
				<a href=''>Felipe Furquim</a><!-- istari -->
			</li>
			<li>
				<a href=''>Henrique Tsuyoshi</a><!-- Doombringer Azurai -->
			</li>
			<li>
				<a href=''>Beatriz Novais</a><!-- pekerrucha -->
			</li>
			<li>
				<a href=''>Gabriel Melo</a><!-- ugo -->
			</li>
			<li>
				<a href=''>Lucas Vilela</a><!-- ņomin̶h̵o̧h̴ack͠er͡ -->
			</li>
			<li>
				<a href=''>Marco Antonio</a><!-- Hostless -->
			</li>
            <li>
                <a href=''>Mirela Mei</a><!-- MΞi -->
            </li>
            <li>
                <a href=''>Rafael Nakata</a><!-- otsuka -->
            </li>
            <li>
                <a href=''>Gabriel Affonso</a><!-- L1MBO -->
            </li>
            <li>
                <a href=''>Enrique Emanuel</a><!-- OiapokXui -->
            </li>
            <li>
                <a href=''>Giane Mayumi</a><!-- sc0rpii -->
            </li>
            <li>
                <a href=''>Melissa Inui</a><!-- 3-E -->
            </li>
            <li>
                <a href=''>Thais de Souza</a><!-- tonks -->
            </li>
            <li>
                <a href=''>Vitor Cairolli</a><!-- lobster_fridge -->
            </li>
        </ul>
    </ul>
</div>

