html {
	background-color: #222831;
	color: #e4e4e4;
}

body {
	padding: 50px;
	font: 17px "Roboto Mono", mono, serif;
}

a {
	text-decoration: none;
	color: #d65a31;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

li p {
	margin-left: 50px;
}

code {
	font: 15px "Fira Code", mono;
	background-color: #0C0E11;
	padding: 3px;
	border-radius: 3px;
}

code.block {
	padding: 7px;
	border-radius: 5px;
	display: block;
	width: 99%;
}

code.block.tab {
	width: 84%;
}

.calendar {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #ffffff;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

.calendar td {
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff;
	height: 30px;
}

.nav-bar {
	flex-align: right;
}

.nav-bar a {
	padding: 8px;
	margin-left: 70px;
}

.nav-container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.subtitle {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.title {
	display: flex;
	align-items: baseline;
	margin-top: 50px;
	margin-bottom: 50px;
}

.title * {
	margin-right: 20px;
}

.subtitle h1 {
	margin: 0px;
}

.tab {
	margin-left: 20px;
}

#lista-categoria {
	font-size: 1.2em;
}

#lista-categoria li {
	padding-top: 10px;
	padding-bottom: 10px;
}

#type {
	margin: 0;
	margin-left: 42px;
}

