---
layout: default
---

<div class="container">
	<h1><a href=''>Calendários</a></h1>
</div>
<div class="container">
	<center>
		<a name="marco"><h2><b>MARÇO</b></h2></a>
		<hr>
		<p><sub><b>NÃO DEIXE UM DIA BOM TE DISTRAIR DE TODOS OS ERROS QUE VOCÊ JÁ FEZ</b></sub></p>
		<table class="calendar">
			<tr>
				<td style="border-width: 0px"></td>
				<th>Seg</th>
				<th>Ter</th>
				<th>Qua</th>
				<th>Qui</th>
				<th>Sex</th>
				<th>Sab</th>
			</tr>
			<tr>
				<td style="border-width: 1px 0px 1px 0px" rowspan="3">Manhã</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td style="border-width: 1px 0px 1px 0px" rowspan="3">Tarde</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td style="border-width: 1px 0px 1px 0px" rowspan="2">Noite</td>
				<td><a href="index.html#oficinademalware"><sup>20:00</sup><br>Malware</a></td>
				<td></td>
				<td><a href="index.html#ctfs"><sup>20:00</sup><br>CTFs</a></td>
				<td></td>
				<td></td>
				<td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
		</table>
	</center>
</div>
<div class="container">
	<center>
		<a name="fevereiro"><h2><b>FEVEREIRO</b></h2></a>
		<hr>
		<p><sub><b>A VIDA TE DERRUBA HOJE PREPARANDO PARA A QUEDA DE AMANHÃ</b></sub></p>
		<table class="calendar">
			<tr>
				<td style="border-width: 0px"></td>
				<th>Seg</th>
				<th>Ter</th>
				<th>Qua</th>
				<th>Qui</th>
				<th>Sex</th>
				<th>Sab</th>
			</tr>
			<tr>
				<td style="border-width: 1px 0px 1px 0px" rowspan="3">Manhã</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td style="border-width: 1px 0px 1px 0px" rowspan="3">Tarde</td>
				<td><a href="index.html#sessoes"><sup>13:00</sup><br>Sessão</a></td>
				<td></td>
				<td><a href="index.html#sessoes"><sup>13:00</sup><br>Sessão</a></td>
				<td></td>
				<td><a href="index.html#sessoes"><sup>13:00</sup><br>Sessão</a></td>
				<td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td style="border-right-width: 0px"><a href="index.html#encontros0x01"><sup>15:00</sup><br>Encontros 0x01</a></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td style="border-width: 1px 0px 1px 0px" rowspan="2">Noite</td>
				<td></td>
				<td><a href="index.html#oficinademalware"><sup>20:00</sup><br>Malware</a></td>
				<td></td>
				<td><a href="index.html#oficinademalware"><sup>20:00</sup><br>Malware</a></td>
				<td></td>
				<td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
		</table>
	</center>
</div>
<div class="container">
	<center>
		<a name="janeiro"><h2><b>JANEIRO</b></h2></a>
		<hr>
		<p><sub><b>SEU FUTURO SÓ DEPENDE DE VOCÊ, PODE COMEÇAR A CHORAR</b></sub></p>
		<table class="calendar">
			<tr>
				<td style="border-width: 0px"></td>
				<th>Seg</th>
				<th>Ter</th>
				<th>Qua</th>
				<th>Qui</th>
				<th>Sex</th>
				<th>Sab</th>
			</tr>
			<tr>
				<td style="border-width: 1px 0px 1px 0px" rowspan="3">Manhã</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td style="border-width: 1px 0px 1px 0px" rowspan="3">Tarde</td>
				<td><a href="index.html#sessoes"><sup>13:00</sup><br>Sessão</a></td>
				<td></td>
				<td><a href="index.html#sessoes"><sup>13:00</sup><br>Sessão</a></td>
				<td></td>
				<td><a href="index.html#sessoes"><sup>13:00</sup><br>Sessão</a></td>
				<td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td style="border-width: 1px 0px 1px 0px" rowspan="2">Noite</td>
				<td></td>
				<td><a href="index.html#oficinademalware"><sup>20:00</sup><br>Malware</a></td>
				<td></td>
				<td><a href="index.html#oficinademalware"><sup>20:00</sup><br>Malware</a></td>
				<td></td>
				<td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
		</table>
	</center>
</div>

