---
layout: enciclopedia
title: Criptografia
type: categoria
---

<div class='container'>
    <p>Proteger dados públicos com o objetivo de aumentar a segurança, confirmar identidade ou impedir espionagem ou adultério de dados.</p>
    <p>A história da criptografia começa com as cifras anciãs: cifra de rotação (cesar), substituição, transposição, polialfabetica, affine, etc...</p>
    <p>Depois a criptografia clássica começou com: criptografia simétrica, assimetrica e protocolos.</p>
    <p>Um princípio famoso do Kerckhoffs que define um sistema de criptográfico é:</p>
    <p class='tab block'> "Um sistema criptográfico deve ser seguro mesmo que tudo sobre o sistema, exceto a chave, seja de conhecimento público."</p>

</div>

<div class='container'>
    <h3 class='subtitle'>Criptoanálise</h3>
    <p>Diferente da criptografia a criptoanálise tem como objetivo de decifrar a codificação usada sem ter acesso da chave-secreta.</p>
    <h4 class='subtitle'>Alguns ramos dos ataques da criptoanálise são:</h4>
    <h5 class='subtitle'>Criptoanálise clássica:</h5>
</div>
<div class='container'>
    <ul>
        <li>Ataque de força-bruta: Testa todas as entradas e analisa as suas saídas</li>
        <li>Ataque analítico: Tenta achar alguma vulnerabilidade na estrutura no sistema criptográfico </li>
    </ul>
    <h5 class='subtitle'>Ataques de Implementação</h5>
    <ul>
        <li>São mais utilizados quando se tem acesso ao hardware, é usado o consumo de energia do computador para recuperar a chave aplicando técnicas de processamento de sinal. Buffer overflow também pode ser utilizado.</li>
    </ul>
    <h4 class='subtitle'>Técnicas/Termos:</h4>
    <div class='container'>
        <ul>
            <li>Hash</li>
            <li>Cifra</li>
        </ul>
    </div>
    <h4 class='subtitle'>Ferramentas:</h4>
    <div class='container'>
        <ul>
            <li><a href='hashcat'>hashcat</a></li>
            <li><a href='hashid'>hashid</a></li>
            <li><a href='john'>john</a></li>
        </ul>
    </div>
    <h4 class='subtitle'>Tópicos matemáticos:</h4>
    <div class='container'>
        <ul>
            <li><a href='mat/aleator'>Aleatoriedade</a></li>
            <li><a href='mat/teorian'>Teoria dos números</a></li>
            <li><a href='mat/aritmod'>Aritmética modular</a></li>
            <li><a href='mat/euclid'>Teorema de Euclides</a></li>
            <li><a>Algoritmo de Euclides extendido</a></li>
            <li><a>Teorema chines do resto</a></li>
            <li><a>Pequeno teorema de Fermat</a></li>
            <li><a>Função totiente de Euler</a></li>
            <li><a>Teorema de Euler</a></li>
        </ul>
    </div>
