---
layout: enciclopedia
title: Exploração de Binários
type: categoria
---

<div class='container'>
	<p>Analisar um programa já compilado para entender seu funcionamento. Conhecimento muito utilizado na análise de malwares e vírus e praticado bastante em conjunto com <a href='/wiki/engrev'>engenharia reversa</a>.</p>
</div>
<h4 class='subtitle'>Técnicas/Termos:</h4>
<div class='container'>
	<ul>
		<li>Overflow de Buffer</li>
		<li>Vulnerabilidade de Formatação de String</li>
		<li>Overflow de Inteiro</li>
		<li>Exploração de Heap</li>
	</ul>
</div>

