---
layout: enciclopedia
title: exiftool
type: ferramenta (linux, mac, windows)
---
<h4 class='subtitle' id='descricao'>Descrição:</h4>
<div class='container'>
	<p>O <code>exiftool</code> é uma ferramenta para visualizar e editar os metadados de um arquivo (O <a href='https://exiftool.org/' target='_blank'>site oficial&#x2197;</a> contém uma tabela mostrando quais arquivos são suportados).</p>
	</div>
	<h4 class='subtitle' id='uso'>Uso:</h4>
	<div class='container'>
		<ul>
			<li>
				Ler os metadados de arquivo:
			</li>
			<p>
				<code class='tab block'>exiftool [opção] [-*TAG...] [--*TAG...] [arquivo]...</code>
			</p>
			<li>
				Escrever os metadados em um arquivo:
			</li>
			<p>
				<code class='tab block'>exiftool [opção] -*TAG*[+-<]=[*VALUE*]... [arquivo]...</code>
			</p>
			<li>
				Copiar os metadados de um arquivo:
			</li>
			<p>
				<code class='tab block'>exiftool [opção] -tagsFromFile *SRCFILE* [-*SRCTAG*[>*DSTTAG*]...] [arquivo]...</code>
			</p>
		</ul>
		<h4 class='subtitle' id='opcoes'>Opções:</h4>
		<ul>
			<li>
				<b>-a &lt;-duplicates&gt;</b>: imprime todos os metadados imprimindo também duplicados
			</li>
			<li>
				<b>-ee &lt;extractEmbedded&gt;</b>: extrai as informaçoes de arquivos embutidos
			</li>
			<li>
				<b>-fast[NUM]</b>: aumenta a velocidade de extração dos metadados
			</li>
			<li>
				<b>-u &lt;-unknown&gt;</b>: imprime as tags desconhecidas
			</li>
			<li>
				<b>-U &lt;-unknown2&gt;</b>: imprime as tags binárias desconhecidas
			</li>
		</ul>
	</div>
	<h4 class='subtitle' id='exemplos'>Exemplos:</h4>
	<div class='container'>
		<ul>
			<li>
                Ler:
                <p>Todos os metadados do arquivo <code>"Imagem.jpg"</code> </p>
                <code class='tab block'>exiftool -a Imagem.jpg</code>
                <p>Apenas os metadados que tem <code>"size"</code> e <code>"image"</code> na sua TAG e não tenham "<code>file</code>"  no arquivo "<code>picasso.png</code>" </p>
                <code class='tab block'>exiftool -"*size*" -"*image*" --"*file*" picasso.png</code>
            </li>
            <li>
                <p>Escrever:</p>
                <p>Uma tag em múltiplos arquivos</p>
                <code class='tab block'>exiftool -artist="miku" SEKAIDE.mp3 SENBONZAKURA.mp3</code>
                <p>Apagar a tag <code>"artist"</code> em no arquivo <code>"aaa.png"</code></p>
                <code class='tab block'>exiftool -artist= aaa.png</code>
            </li>
            <li>
                <b>Copiar:</b>
                <p>Copiar todos os metadados do arquivo <code>"papelparede.jpg"</code> para o arquivo <code>"wallpaper.jpg"</code></p>
                <code class='tab block'>exiftool -tagsFromFile papelparede.jpg wallpaper.jpg</code>
            </li>
        </ul>
    </div>
