---
layout: enciclopedia
title: Scripting
type: categoria
---

<div class='container'>
	<p>Automatização de tarefas maçantes, repetitivas e/ou esporádicas (coisas que você faz em <s>5min, mas pode automatizar em</s> 2h, mas pode automatizar em 5min).</p>
</div>
<h4 class='subtitle'>Técnicas/Termos:</h4>
<div class='container'>
	<ul>
		<li>Programação</li>
	</ul>
</div>
<h4 class='subtitle'>Ferramentas:</h4>
<div class='container'>
	<ul>
		<li>bash</li>
		<li>python</li>
		<li>perl</li>
	</ul>
</div>

